{% extends 'sclad/base.html' %}
{% block contentplus %}
    {% if user.is_authenticated %}
        <a href="{% url 'tov_new' %}" class="top-menu"><p class="glpl"><span class="glyphicon glyphicon-plus"></span></p></a>
    {% endif %}                
{% endblock %}   
{% block content %}
    <TABLE border="1" table-layout="auto">
        <tr>
            <th> <h1>Товар</h1></th>
            <th> <h1>Категория</h1></th>
            <th> </th>
            <th> </th>
        </tr>
        {% for it in tovar %}   
        <div  class="tov">         
            <tr>
                <td > {{ it.full_name}}</td>
                <td> {{ it.category}}</td>
                <td> 
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'tov_edit' pk=it.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                </td>
                 <td> 
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'tov_minus' pk=it.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                </td>
            </tr>    
        </div>                    
        {% endfor %}
    </TABLE>
{% endblock %}